<header class="ui-header">
    <div class="ui-header__row">
      <button class="ui-button ui-button--icon" (click)="__global.history.back()">
        <i class="material-icons">arrow_back</i>
      </button>
      <span class="ui-header__title">[[title]]</span>
    </div>
  </header>

  <form class="ui-padding" (submit)="doRegister(evt)">
    <ui-textfield label="Name" value="{{email}}"></ui-textfield>
    <ui-textfield label="Role" value="{{fullname}}"></ui-textfield>
    <ui-textfield label="Phone Number" value="{{fullname}}"></ui-textfield>
    <ui-textfield label="Address" value="{{fullname}}"></ui-textfield>

    <button class="ui-button ui-button--block ui-button--colored">Save</button>
  </form>
