<div class="ui-layout ui-layout--v">
  <header class="ui-header">
    <div class="ui-header__row">
      <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
        <i class="material-icons">menu</i>
      </button>
      <span class="ui-header__title">[[title]]</span>
    </div>
  </header>

  <div class="profile ui-padding" >
    <div class="profile__image">
      <img src="[[ profile.image ]]">
    </div>
    <div class="ui-scroll" >
        <xin-for items="[[lists]]" as="list">
            <template>
                <div class="ui-layout">
                    <div class="ui-flex">
                      <div class="ui-list__item" (click)="edit(list)">[[list.title]]</div>
                    </div>
                    <div class="ui-flex" style="text-align: right;">
                      <div class="ui-list__item" (click)="edit(list)">[[list.endDate]]</div>
                    </div>
                  </div>
            </template>
          </xin-for>
    </div>
  </div>
</div>
