<xin-lazy-view-middleware></xin-lazy-view-middleware>
<xin-title-middleware></xin-title-middleware>

<ui-drawer id="drawer">
  <a href="#!/profile">
    <div class="mini-profile">
      <div class="mini-profile__image">
        <img src="../assets/images/profile/200x200jordan.png">
      </div>
      <div class="mini-profile__info">
        <h3>Michael Jordan</h3>
        <p>Member</p>
      </div>
    </div>
  </a>
  <div class="ui-list" id="menuList">
    <a class="ui-list__item" href="#!/">Home</a>
    <a class="ui-list__item" href="#!/books">Books</a>
    <a class="ui-list__item" href="#!/member">Member</a>
    <a class="ui-list__item" href="#!/login">Logout</a>
    <a class="ui-list__item" href="#!/profile">Profile</a>
    <!-- <a class="ui-list__item" href="#!/layouts">Layouts</a>
    <a class="ui-list__item" href="#!/walkthrough">Walkthrough</a> -->
  </div>
</ui-drawer>

<xin-pager class="ui-layout ui-layout--v">
  <!-- <my-walkthrough lazy-view uri="/walkthrough"></my-walkthrough> -->
  <my-home lazy-view uri="/"></my-home>
  <my-login lazy-view uri="/login"></my-login>
  <my-register lazy-view uri="/register"></my-register>
  <my-book lazy-view uri="/books"></my-book>
  <my-detail-book lazy-view uri="/books[/{id}]"></my-detail-book>
  <my-profile lazy-view uri="/profile"></my-profile>
  <my-member lazy-view uri="/member"></my-member>
  <my-member-form lazy-view uri="/member[/{id}]"></my-member-form>
  <!-- <my-menu lazy-view uri="/forms" title="Forms" menus="[[formMenus]]"></my-menu>
  <my-menu lazy-view uri="/layouts" title="Layouts" menus="[[layoutMenus]]"></my-menu>
  <my-layouts lazy-view uri="/layouts"></my-layouts>
  -->
</xin-pager>
